fluidsynth-static/bin/
fluidsynth-static/fluidsynth-1.0.9/Makefile
fluidsynth-static/fluidsynth-1.0.9/config.log
fluidsynth-static/fluidsynth-1.0.9/config.status
fluidsynth-static/fluidsynth-1.0.9/doc/Makefile
fluidsynth-static/fluidsynth-1.0.9/fluidsynth.pc
fluidsynth-static/fluidsynth-1.0.9/include/Makefile
fluidsynth-static/fluidsynth-1.0.9/include/fluidsynth/Makefile
fluidsynth-static/fluidsynth-1.0.9/libtool
fluidsynth-static/fluidsynth-1.0.9/macbuild/Makefile
fluidsynth-static/fluidsynth-1.0.9/sf2/Makefile
fluidsynth-static/fluidsynth-1.0.9/src/.deps/
fluidsynth-static/fluidsynth-1.0.9/src/.libs/
fluidsynth-static/fluidsynth-1.0.9/src/Makefile
fluidsynth-static/fluidsynth-1.0.9/src/config.h
fluidsynth-static/fluidsynth-1.0.9/src/fluidsynth
fluidsynth-static/fluidsynth-1.0.9/src/libfluidsynth.la
fluidsynth-static/fluidsynth-1.0.9/src/*.lo
fluidsynth-static/fluidsynth-1.0.9/src/*.o
fluidsynth-static/fluidsynth-1.0.9/src/stamp-h1
fluidsynth-static/fluidsynth-1.0.9/winbuild/Makefile
fluidsynth-static/fluidsynth-1.0.9/winbuild/fluidsynth/Makefile
fluidsynth-static/fluidsynth-1.0.9/winbuild/fluidsynth_dll/Makefile
fluidsynth-static/fluidsynth-1.0.9/winbuild/fluidsynth_lib/Makefile
fluidsynth-static/include/
fluidsynth-static/lib/
fluidsynth-static/share/
